@using Core.Models
@model List<User>
<div class="row justify-content-start">
    <div class="alert alert-primary" role="alert">
        <h3 class="text-center">مدیرت کاربران</h3>
    </div>
</div>

<div class="row justify-content-start">
    <div class="row justify-content-start">
        <div class="alert alert-secondary" role="alert">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6" width="25px" height="25px">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
                </svg>

                کاربر جدید
            </button>
        </div>
    </div>
</div>
<div class="row justify-content-start">
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <td>#</td>
            <td>نام و نام خانوادگی</td>
            <td>تاریخ ثبت نام</td>
            <td>امکانات</td>
        </tr>
        @if (Model.Any())
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.CreatedDate</td>
                    <td>
                        <a asp-controller="Users" asp-action="DeleteUser" asp-route-id="@user.Id" class="btn btn-danger btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6" width="25px" height="25px">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>
                            حذف کاربر
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    <div class="alert alert-info" role="alert">
                        <p>کاربری یافت نشد</p>
                    </div>
                </td>
            </tr>

        }

    </table>
</div>
@section Scripts {

}


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">کاربر جدید</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Users" asp-action="CreateUser" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Name" placeholder="name@example.com">
                        <label for="floatingInput">نام و نام خانوادگی</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="Password" placeholder="name@example.com">
                        <label for="floatingInput">کلمه عبور</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" name="CellPhone" placeholder="name@example.com">
                        <label for="floatingInput">شماره تلفن هموراه</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" asp-items="ViewBag.roles" name="RoleId">
                            <option selected>--Select Role --</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>